{% extends "layout.jinja2" %}

{% block title %} Demo App {% endblock %}

{% block css %}
    <link rel="stylesheet" href="assets/css/index.css">
{% endblock %}

{% block js %}
    <script src="assets/js/gauge.min.js"></script>
    <script src="assets/js/index.js"></script>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <table class="table">
    <tbody>
      <tr><th>Latitude</th><td><span id="lat"></span></td></tr>
      <tr><th>Longitude</th><td><span id="long"></span></td></tr>
    </tbody>
  </table>
</div>
<div class="row">
    <canvas class="col-6" id="knob1">Knob1</canvas>
    <canvas class="col-6" id="knob2">Knob2</canvas>
    </div>
{% endblock %}